<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1>Captcha for Angular 5+</h1>
        <p>Fully dynamic & easy to use</p>
    </header>

    <nav id="nav">
        <ul>
            <li>
                <a routerLink="/installation">Installation</a>
            </li>
            <li>
                <a routerLink="/recaptcha2">reCAPTCHA2</a>
            </li>
            <li>
                <a routerLink="/invisible">Invisible reCAPTCHA</a>
            </li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Content -->
        <section id="content" class="main">

            <!-- Text -->
            <section>
                <router-outlet></router-outlet>
            </section>

        </section>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>About</h2>
            <p>Implementation of reCaptcha for Angular 5 and beyond.
            </p>
        </section>
        <section>
            <h2>Contact</h2>
            <ul class="icons">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/richard-šůstek-8740a9a9/" class="icon fa-linkedin alt">
                        <span class="label">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/Enngage/ngx-captcha" class="icon fa-github alt">
                        <span class="label">GitHub</span>
                    </a>
                </li>
            </ul>
        </section>
        <p class="copyright">&copy; {{ year }} Richard Sustek. All rights reserved. Design:
            <a href="https://html5up.net">HTML5 UP</a>.</p>
    </footer>


</div>

<!--

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>Captcha for Angular 5+</h3>
        </div>
        <a class="github-link mdl-layout--large-screen-only mdl-layout__header-row" >
            <i class="fab fa-github fa-3x"></i> Like me on GitHub
        </a>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a routerLink="/recaptcha2" class="mdl-layout__tab" href="">ReCaptcha2</a>
            <a routerLink="/invisible" class="mdl-layout__tab" href="">Invisible reCaptcha</a>
        </div>
    </header>
    <main class="mdl-layout__content">


        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    Copyright © {{ year }} Richard Sustek. All rights reserved
                </div>
                <ul class="mdl-mega-footer--link-list">
                    <li>
                        <a ">LinkedIn</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Enngage/ngx-captcha">GitHub</a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</div>

-->