<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>Captcha for Angular 5+</h3>
        </div>
        <a class="github-link mdl-layout--large-screen-only mdl-layout__header-row" target="_blank" href="https://github.com/Enngage/ngx-captcha">
            <i class="fab fa-github fa-3x"></i> Like me on GitHub
        </a>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a routerLink="/recaptcha2" class="mdl-layout__tab" href="">ReCaptcha2</a>
            <a routerLink="/invisible" class="mdl-layout__tab" href="">Invisible reCaptcha</a>
        </div>
    </header>
    <main class="mdl-layout__content">

        <router-outlet></router-outlet>

        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    Copyright © {{ year }} Richard Sustek. All rights reserved
                </div>
                <ul class="mdl-mega-footer--link-list">
                    <li>
                        <a target="_blank" href="https://www.linkedin.com/in/richard-šůstek-8740a9a9/">LinkedIn</a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/Enngage/ngx-captcha">GitHub</a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</div>