<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>Captcha for Angular 5+</h3>
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
            <a routerLink="/recaptcha2" class="mdl-layout__tab" href="">ReCaptcha2</a>
            <a routerLink="/invisible" class="mdl-layout__tab" href="">Invisible reCaptcha</a>
        </div>
    </header>
    <main class="mdl-layout__content">

        <router-outlet></router-outlet>

        <footer class="mdl-mega-footer">
            <div class="mdl-mega-footer--bottom-section">
                <div class="mdl-logo">
                    Richard Sustek
                </div>
                <ul class="mdl-mega-footer--link-list">
                    <li>
                        <a href="https://developers.google.com/web/starter-kit/">Web Starter Kit</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Privacy and Terms</a>
                    </li>
                </ul>
            </div>
        </footer>
    </main>
</div>