<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" routerLink="/installation">Google reCaptcha for Angular</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link " routerLink="/installation">Quick start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/recaptcha2">reCaptcha v2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/recaptcha3">reCaptcha v3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/invisible">Invisible reCaptcha</a>
                </li>
            </ul>
            <div class="mt-2 mt-md-0">
                <a href="https://github.com/Enngage/ngx-captcha">
                    <button class="btn my-2 my-sm-0" type="submit">GitHub</button>
                </a>
            </div>
        </div>
    </nav>
</header>

<main role="main" style="margin-top: 90px">
    <div class="container" id="highlight">
        <router-outlet></router-outlet>
    </div>
</main>