
<h3>Supported versions</h3>

<div>For Angular 6 use ngx-captcha on version 5.0.0 or lower</div>
<div>For Angular 7 use ngx-captcha on version 6.0.0 or higher</div>

<h2 class="mt-4">Installation</h2>


<h5 class="mt-4">npm</h5>

<pre class="mt-2">
    <code [innerText]="installCode"></code>
</pre>

<h5 class="mt-4">Import
    <strong>NgxCaptchaModule</strong> module 
</h5>

<pre class="mt-2">
    <code [innerText]="importModuleCode"></code>
</pre>

<h5 class="mt-4">Use</h5>

<pre class="mt-2">
    <code [innerText]="templateCode"></code>
</pre>

<pre class="mt-2">
    <code [innerText]="tsCode"></code>
</pre>
