
<h2>Installation</h2>


<h5 class="mt-4">npm</h5>

<pre class="mt-2">
    <code [innerText]="installCode"></code>
</pre>

<h5 class="mt-4">Import
    <strong>NgxCaptchaModule</strong> module 
</h5>

<div class="mt-2">
 You can configure keys also with `siteKey` input parameter instead of globally during module import
</div>

<pre class="mt-2">
    <code [innerText]="importModuleCode"></code>
</pre>

<h5 class="mt-4">Use</h5>

<pre class="mt-2">
    <code [innerText]="templateCode"></code>
</pre>

<pre class="mt-2">
    <code [innerText]="tsCode"></code>
</pre>
